<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CanI"
        tools:targetApi="31">
        <activity
            android:name=".usecases.admin_menu.admin_barras.GestionBarrasActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.admin_menu.admin_usuarios.CrearUsuarioActivity"
            android:exported="false"/>
        <activity
            android:name=".usecases.admin_menu.admin_articulos.admin_articulos_lista.ListaArticulosActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.camarero_home.sel_articulo.SelArticuloCamareroActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.admin_menu.admin_perfil.PerfilAdminActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.admin_menu.admin_articulos.GestionArticulosActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.admin_menu.admin_articulos.sel_articulo.edit_articulo.EditArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.admin_menu.admin_articulos.sel_articulo.SelArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.admin_menu.admin_articulos.crear_articulo.CrearArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.admin_menu.AdminMenuActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.camarero_home.CamareroHomeActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.login.RecoverAccountActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.login.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>